.App {
  text-align: center;
}

.section-title {
  color: #83D3C9;
}

.btn-style {
  font-family: 'Lato', sans-serif !important;
  background-color: #83D3C9 !important;
  color: #FFFFF6 !important;
}

.app-description {
  margin: 0 0 2em 0;
}

.app-section {
  margin-bottom: 2.5em !important;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.section1-p {
  margin-bottom: 0.5em;
}

.img-logo {
  width: 100px;
  height: 100px;
}

.logo-row {
  margin-bottom: 50px;
}

.app-title {
  margin-bottom: 2em;
}

@media screen and (max-width: 840px) {
  .button-container {
    justify-content: space-evenly;
  }
}